$light-yellow: #ece89d;
$purple: #8c82fc;
$borderViolet: #8c82fc;
$greenEmerald: #18b5a4;
$greenPinned: #68d988;
$greenAqua: #53d0d1;
$darkBlue: #4d98b5;
$extremeBlackTheme: #371b58;
$firstBlackTheme: #4c3575;
$secondBlackTheme: #5b4b8a;
$thirdDarkTheme: #7858a6;
