@import './normalize';
@import './variables';
@import './components/all';
.container {
  width: $container-width;
  margin: 0 auto;

  .home {
    .todo-block {
      // border: solid 1px black;
      width: 45%;
      min-height: 200px;
      margin-top: 30px;

      &__add-container {
        h2 {
          margin-bottom: 10px;
        }
        button {
          display: block;
          margin-top: 10px;
          width: 120px;
          height: 40px;
          border: 3px solid $purple;
          background: #fff;
          color: #8c82fc;
          border-radius: 40px;
          cursor: pointer;
          overflow: hidden;
          transition: all 0.35s;
          &:hover {
            background: #8c82fc;
            color: #fff;
          }
        }
        .todo-description {
          width: 50%;
          resize: none;
          border-radius: 10px;
          padding: 10px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          border: 3px solid $purple;
          font-size: 14px;
        }
      }

      &__header {
        padding-top: 15px;
      }

      .all-todos {
        min-height: 300px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        background-color: $light-yellow;
        border-radius: 15px;
        margin-top: 10px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

        &__no-task {
          margin: auto 0;
        }
      }
    }
  }
}
