@use '../../style/variables';

.apiWidget {
  width: 47%;
  border: solid 2px variables.$borderViolet;
  margin-bottom: 12px;
  border-radius: 10px;

  .ipHeader {
    margin: 0 33%;
  }

  .foundInfo {
    height: 250px;

    .allInfo {
      display: flex;
      flex-wrap: wrap;
      .infoObj {
        padding: 10px;
        border-radius: 5px;
        margin: 5px;
        background-color: variables.$darkBlue;
      }
    }
  }
  .noIp {
    padding: 30% 25%;
  }
  .ipBottom {
    .enterIpText {
      margin: 5px 35px;
    }
    .getIpContainer {
      margin: 10px 5%;
      display: flex;
      .getIpField {
        height: 30px;
        padding-left: 8px;
        border-radius: 10px;
        width: 70%;
      }

      .submitIp {
        width: 100px;
        height: 30px;
        margin-left: 10px;
        box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
        transition: 0.4s;
        color: white;
        background-color: rgba(104, 85, 224, 1);
        border-radius: 10px;
        border: none;
        &:hover {
          box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
        }
        cursor: pointer;
      }
    }
  }
}
