@use '../../style/variables';

.container {
  width: 85%;
  margin: 0 auto;

  .authorizationContainer {
    margin-top: -70px;
    .authBlock {
      height: 150px;

      text-align: left;

      .errorMsg {
        height: 50px;
        width: 50%;
        margin: 0 auto;
        text-align: center;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
      }
    }
  }
}
.darkThemeContainer {
  background-color: variables.$secondBlackTheme;
  label,
  h3 {
    color: #fff;
  }
}

.darkThemeBody {
  background-color: variables.$extremeBlackTheme;
}
