@use '../../style/variables';

.weatherWidget {
  width: 96%;
  border: 2px solid variables.$borderViolet;

  margin-bottom: 15px;
  .weatherHeader {
    text-align: center;

    padding-top: 15px;
  }

  .weatherInfo {
    .mainInfo {
      padding: 0 5%;
      margin-bottom: 15px;
      .listOfWeather {
        flex-wrap: wrap;

        .additionalInfo {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          margin-bottom: 10px;
        }

        .mainTemp {
          padding: 10px 3%;

          max-width: 25%;
          font-size: 1.2rem;
          font-weight: 600;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          border-radius: 10px;
          background-color: variables.$darkBlue;
        }

        .eachAdditionalProp {
          padding: 7px 5px;
          margin-right: 10px;
          margin-top: 5px;
          margin-bottom: 5px;
          width: 30%;
          background-color: variables.$darkBlue;
          border-radius: 5px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          @media (max-width: 660px) {
            width: 47%;
          }
          @media (max-width: 480px) {
            width: 100%;
          }
        }
        .humidity {
          width: 47%;
          background-color: variables.$greenAqua;

          @media (max-width: 465px) {
            width: 100%;
          }
        }
      }
    }

    .windInfo {
      padding: 0 5%;
      margin-bottom: 20px;
      ul {
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;

        justify-content: space-between;
        li {
          width: 48%;

          background-color: #97ddfc;
          padding: 10px 20px;
          border-radius: 10px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          @media (max-width: 460px) {
            width: 100%;
            margin-top: 5px;
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}

.darkTheme {
  background-color: variables.$thirdDarkTheme;

  .mainTemp {
    background-color: variables.$extremeBlackTheme !important;
    color: #fff;
  }

  .eachAdditionalProp {
    background-color: variables.$firstBlackTheme !important;
    color: #fff;
  }

  .windInfo {
    li {
      background-color: variables.$firstBlackTheme !important;
      color: #fff;
    }
  }
}
