.header {
  border-bottom: 2px solid #f6f6f6;
  padding: 25px 0;

  .container {
    display: flex;

    align-items: center;
    width: 100%;
    justify-content: space-between;
  }
  .logo {
    display: flex;
    flex-shrink: 0;

    img {
      margin-right: 15px;
    }

    h1 {
      color: #181818;
      font-size: 24px;
      letter-spacing: 1%;
      text-transform: uppercase;
      font-weight: 800;

      @media (max-width: 370px) {
        font-size: 18px;
        font-weight: 700;
      }
    }

    p {
      color: #7b7b7b;
      @media (max-width: 685px) {
        display: none;
      }
    }
  }
  .authorization {
    .login {
      color: rgb(104, 85, 224);
      background-color: rgba(255, 255, 255, 1);
      border: 1px solid rgba(104, 85, 224, 1);
      cursor: pointer;
      font-weight: 600;
      margin: 0 10px;
      width: 100px;
      padding: 10px 0;
      box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
      transition: 0.4s;

      &:hover {
        color: white;
        box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
        background-color: rgba(104, 85, 224, 1);
      }
    }

    .logOutContainer {
      display: flex;
      .signOut {
        width: 100px;
        padding: 10px 0;
        margin: 0 10px;
      }

      .profile {
        height: 46px;
      }
    }
  }
}
