.container {
  width: 85%;
  margin: 0 auto;

  .notAuthorized {
    margin: 20px auto;

    .hiddenContent {
      margin-left: 40%;
      width: 20%;
    }
    h3 {
      text-align: center;

      @media (max-width: 485px) {
        font-size: 1.2em;
      }
      @media (max-width: 365px) {
        font-size: 1em;
      }
    }
  }

  .darkTheme {
    .hiddenContent {
      fill: #fff;
    }
    h3 {
      color: #fff;
    }
  }
}
